@media (min-width: 1400.98px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* banner part start */
    .banner_text h2::before {
        width: 226px;
    }
    .banner_text h2::after {
        width: 175px;
    }
    .banner_text p::before {
        width: 128px;
    }
    .banner_text p::after {
        width: 102px;
    }
    /* banner part end */
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* banner part start */
    .banner_text h2::before {
        width: 170px;
    }

    .banner_text h2::after {
        width: 120px;
    }

    .banner_text p::before {
        width: 75px;
    }

    .banner_text p::after {
        width: 49px;
    }
    /* banner part end */
    /* classes part start */
    .class_body ul li {
        width: 19.58%;
    }
    /* classes part end */

    /* footer part start */
    .flickr_cont ul li {
        width: 21.62%;
    }
    /* footer part end */
}

@media (min-width: 768px) and (max-width: 991.98px) {
/* menu part start */
.main_menu .navbar-brand {
	width: 150px;
	height: 50px;
	line-height: 45px;
}

.main_menu ul li a {
	padding: 0 8px !important;
}
/* menu part end */


/* banner part start */
.banner_text p::after {
	width: 57px;
}

.banner_text p::before {
	width: 83px;
}
/* banner part end */

/* about part start */
.about_text p {
	text-align: justify;
	margin-bottom: 26px;
}
/* about part end */
/* member part start */
.member_text h5 {
	padding: 15px 0;
	font-size: 15px;
}

.member_text a {
	padding: 10px 0;
	font-size: 15px;
}

.member_text ul {
	padding: 24px 0 25px;
}
/* member part end */

/* classes part start */
.class_body ul li {
    padding: 24px 0;
	width: 19.42%;
}

.class_body ul li i{
    font-size: 40px;
}
/* classes part end */
/* footer part start */
.class_day_cont{
    padding-bottom: 24px;
}
/* footer part end */

}
@media (min-width: 576px) and (max-width: 767.98px) {


/* ================================
        common css part start
================================ */
.common_head h3 {
	margin-bottom: 6px;
}
/* ================================
        common css part end
================================ */
/* ================================
        menu part start
================================ */
.main_menu {
    position: relative;
    top: 0;
    background: #e23e38;
}

.main_menu .navbar-brand {
    width: 160px;
	height: 50px;
	line-height: 40px;
}

.main_menu button i{
    color: #fff;
}

.main_menu .navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

.main_menu #navbarSupportedContent ul{
    background: #e23e38;
}

.main_menu #navbarSupportedContent ul li a{
    line-height: 30px;
    text-align: center;
}

.main_menu ul li a::after {
    display: none;
}

/* ================================
        menu part end
================================ */

/* ================================
        banner part start
================================ */
.banner_text h1::before,
.banner_text h1::after,
.banner_text h2::before,
.banner_text h2::after,
.banner_text p::before,
.banner_text p::after
{
	display: none;
}

.banner_text h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

.banner_text h1 {
	font-size: 40px;
	margin-bottom: 10px;
}

.banner_text p {
	margin-bottom: 20px;
}

.banner_text a {
	padding: 8px 14px;
	font-size: 14px;
	margin-right: 10px;
}

.banner_item {
	padding: 140px 0 100px;
}

#banner .slick-dots li.slick-active button {
	width: 15px;
	height: 15px;
}

#banner .slick-dots li button {
	width: 12px;
	height: 12px;
        margin: 0 4px;
}
/* ================================
        banner part end
================================ */

/* ================================
        about part start
================================ */
#about {
	padding-top: 43px;
}

.about_text {
        margin-top: 12px;
        margin-bottom: 26px;
}

.about_text p {
	text-align: justify;
}

.about_text span {
	margin-top: 19px;
}
/* ================================
        about part end
================================ */

/* ================================
        gallery part start
================================ */
#gallery{
        padding-top: 43px;
}

.gal_bg {
	margin-top: 19px;
}

.gal_imgbx:last-child{
        margin-bottom: 24px;
}

.gal_bg{
        padding: 30px 0 0;
}

.gal_imgbx .overly {
        transform: scale(1) rotate(180deg);
        -webkit-transform: scale(1) rotate(180deg);
        -moz-transform: scale(1) rotate(180deg);
        -ms-transform: scale(1) rotate(180deg);
        -o-transform: scale(1) rotate(180deg);
}
    
.gal_imgbx .overly a {
        transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -o-transform: translate(-50%, -50%) rotate(180deg) scale(1);
}
/* ================================
        gallery part end
================================ */

/* ================================
        team part start
================================ */
#team {
    padding-top: 43px;
}

.team_main {
	margin-top: 60px;
}

.team_main .team_img .overly {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    
.team_main .team_text p {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    
.team_main {
        transform: translateY(-42px);
        -webkit-transform: translateY(-42px);
        -moz-transform: translateY(-42px);
        -ms-transform: translateY(-42px);
        -o-transform: translateY(-42px);
}
    
.team_main .team_text {
        border: 1px solid #dddddd;
}
/* ================================
        team part end
================================ */

/* ================================
        testimonial part start
================================ */
#testimonial {
	padding-top: 3px;
}

.test_bg {
	margin-top: 19px;
}

.test_text p {
	text-align: justify;
	margin-top: 5px;
}

.test_inner .slick-dots li.slick-active button {
	width: 15px;
	height: 15px;
}

.test_inner .slick-dots li button {
	width: 12px;
	height: 12px;
    margin: 0 4px;
}
/* ================================
        testimonial part end
================================ */

/* ================================
        membership part start
================================ */
#membership {
	padding: 43px 0 34px;
}

.member_inner {
	margin-top: 19px;
}

.member_text{
    margin-bottom: 15px;
}

.member_text h5 {
	padding: 15px 0;
	font-size: 15px;
}

.member_text .pricing1, .member_text .pricing2, .member_text .pricing3 {
	padding: 25px 0;
	font-size: 40px;
}

.member_text .pricing1 span, .member_text .pricing2 span, .member_text .pricing3 span {
	font-size: 24px;
}

.member_text ul {
	padding: 24px 0 25px;
}

.member_text ul li {
	font-size: 13px;
	margin-bottom: 12px;
}

.member_text a {
	padding: 8px 0;
	font-size: 15px;
}
/* ================================
        membership part end
================================ */

/* ================================
         counter part start
================================ */
.count_inner h4 {
	font-size: 26px;
}

.count_inner p {
	font-size: 14px;
}
/* ================================
        counter part end
================================ */

/* ================================
        classes part start
================================ */
#classes {
	padding-top: 44px;
}

.class_menu {
	padding-top: 19px;
	margin-bottom: 25px !important;
}

.class_menu li {
	width: 33.33%;
	height: 35px;
    border-bottom: 1px solid #e23e38;
}

.class_menu li button {
	line-height: 35px;
}

.class_body ul li {
	padding: 15px 0;
	width: 48.99%;
}

.class_body ul li:nth-child(even){
    margin-right: 0;
}

.class_body ul li:nth-child(5){
    margin-right: 5px;
}


.class_body ul li p {
	font-size: 13px;
}

.class_body ul li i {
	font-size: 35px;
}
/* ================================
        classes part end
================================ */

/* ================================
            brand part start
================================ */
#brand {
	padding: 45px 0 49px;
}
/* ================================
            brand part end
================================ */

/* ================================
            footer part start
================================ */
.foot_logo a img{
    width: 140px;
}

.class_day, .twitt_post, .contact {
	padding-top: 22px;
}

.class_day_cont{
    padding-bottom: 24px;
}

.class_day, .twitt_post, .contact {
	padding: 22px 0 22px;
}

.flickr_cont {
	padding: 26px 0 15px;
}

.contact {
	margin-bottom: 3px;
}

/* ================================
            footer part end
================================ */
}

@media (max-width: 575.98px) {
/* ================================
        common css part start
================================ */
.common_head h3 {
	margin-bottom: 6px;
}
/* ================================
        common css part end
================================ */
/* ================================
        menu part start
================================ */
.main_menu {
        position: relative;
        top: 0;
        background: #e23e38;
}

.main_menu .navbar-brand {
        width: 160px;
	height: 50px;
	line-height: 40px;
}

.main_menu button i{
        color: #fff;
}

.main_menu .navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

.main_menu #navbarSupportedContent ul{
        background: #e23e38;
}

.main_menu #navbarSupportedContent ul li a{
        line-height: 30px;
        text-align: center;
}

.main_menu ul li a::after {
        display: none;
}

/* ================================
        menu part end
================================ */

/* ================================
        banner part start
================================ */
.banner_text h1::before,
.banner_text h1::after,
.banner_text h2::before,
.banner_text h2::after,
.banner_text p::before,
.banner_text p::after
{
	display: none;
}

.banner_text h2 {
	font-size: 22px;
        margin-bottom: 0;
}

.banner_text h1 {
	font-size: 40px;
	margin-bottom: 10px;
}

.banner_text p {
	margin-bottom: 20px;
}

.banner_text a {
	padding: 4px 10px;
	font-size: 13px;
	margin-right: 10px;
}

.banner_item {
	padding: 140px 0 100px;
}

#banner .slick-dots li.slick-active button {
	width: 15px;
	height: 15px;
}

#banner .slick-dots li button {
	width: 12px;
	height: 12px;
        margin: 0 4px;
}
/* ================================
        banner part end
================================ */

/* ================================
        about part start
================================ */
#about {
	padding-top: 43px;
}

.about_text {
        margin-top: 12px;
        margin-bottom: 26px;
}

.about_text p {
	text-align: justify;
}

.about_text span {
	margin-top: 19px;
}
/* ================================
        about part end
================================ */

/* ================================
        gallery part start
================================ */
#gallery{
        padding-top: 43px;
}

.gal_bg {
	margin-top: 19px;
}

.gal_imgbx:last-child{
        margin-bottom: 24px;
}

.gal_bg{
        padding: 30px 0 0;
}

.gal_imgbx .overly {
        transform: scale(1) rotate(180deg);
        -webkit-transform: scale(1) rotate(180deg);
        -moz-transform: scale(1) rotate(180deg);
        -ms-transform: scale(1) rotate(180deg);
        -o-transform: scale(1) rotate(180deg);
}
    
.gal_imgbx .overly a {
        transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1);
        -o-transform: translate(-50%, -50%) rotate(180deg) scale(1);
}
/* ================================
        gallery part end
================================ */

/* ================================
        team part start
================================ */
#team {
    padding-top: 43px;
}

.team_main {
	margin-top: 60px;
}

.team_main .team_img .overly {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    
.team_main .team_text p {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    
.team_main {
        transform: translateY(-42px);
        -webkit-transform: translateY(-42px);
        -moz-transform: translateY(-42px);
        -ms-transform: translateY(-42px);
        -o-transform: translateY(-42px);
}
    
.team_main .team_text {
        border: 1px solid #dddddd;
}
/* ================================
        team part end
================================ */

/* ================================
        testimonial part start
================================ */
#testimonial {
	padding-top: 3px;
}

.test_bg {
	margin-top: 19px;
}

.test_text p {
	text-align: justify;
	margin-top: 5px;
}

.test_inner .slick-dots li.slick-active button {
	width: 15px;
	height: 15px;
}

.test_inner .slick-dots li button {
	width: 12px;
	height: 12px;
    margin: 0 4px;
}
/* ================================
        testimonial part end
================================ */

/* ================================
        membership part start
================================ */
#membership {
	padding: 43px 0 34px;
}

.member_inner {
	margin-top: 19px;
}

.member_text{
    margin-bottom: 15px;
}

.member_text h5 {
	padding: 15px 0;
	font-size: 15px;
}

.member_text .pricing1, .member_text .pricing2, .member_text .pricing3 {
	padding: 25px 0;
	font-size: 40px;
}

.member_text .pricing1 span, .member_text .pricing2 span, .member_text .pricing3 span {
	font-size: 24px;
}

.member_text ul {
	padding: 24px 0 25px;
}

.member_text ul li {
	font-size: 13px;
	margin-bottom: 12px;
}

.member_text a {
	padding: 8px 0;
	font-size: 15px;
}
/* ================================
        membership part end
================================ */

/* ================================
         counter part start
================================ */
.count_inner h4 {
	font-size: 20px;
}

.count_inner p {
	font-size: 12px;
}
/* ================================
        counter part end
================================ */

/* ================================
        classes part start
================================ */
#classes {
	padding-top: 44px;
}

.class_menu {
	padding-top: 19px;
	margin-bottom: 25px !important;
}

.class_menu li {
	width: 33.33%;
	height: 35px;
    border-bottom: 1px solid #e23e38;
}

.class_menu li button {
	line-height: 35px;
}

.class_body ul li {
	padding: 15px 0;
	width: 48.99%;
}

.class_body ul li:nth-child(even){
    margin-right: 0;
}

.class_body ul li:nth-child(5){
    margin-right: 5px;
}


.class_body ul li p {
	font-size: 13px;
}

.class_body ul li i {
	font-size: 35px;
}
/* ================================
        classes part end
================================ */

/* ================================
            brand part start
================================ */
#brand {
	padding: 45px 0 49px;
}
/* ================================
            brand part end
================================ */

/* ================================
            footer part start
================================ */
.foot_logo a img{
    width: 120px;
}

.class_day, .twitt_post, .contact {
	padding-top: 22px;
}

.class_day_cont{
    padding-bottom: 24px;
}

.class_day, .twitt_post, .contact {
	padding: 22px 0 22px;
}

.flickr_cont {
	padding: 26px 0 15px;
}

.contact {
	margin-bottom: 3px;
}

/* ================================
            footer part end
================================ */
}