$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?f00784b06bf83813b0ce5482b5bfa2ad") format("truetype"),
url("./flaticon.woff?f00784b06bf83813b0ce5482b5bfa2ad") format("woff"),
url("./flaticon.woff2?f00784b06bf83813b0ce5482b5bfa2ad") format("woff2"),
url("./flaticon.eot?f00784b06bf83813b0ce5482b5bfa2ad#iefix") format("embedded-opentype"),
url("./flaticon.svg?f00784b06bf83813b0ce5482b5bfa2ad#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "chin-up-bar": "\f101",
    "man-exercising-back-and-legs": "\f102",
    "boxing-fighter": "\f103",
    "buddhist-yoga-pose": "\f104",
    "exercise": "\f105",
    "weightlifting": "\f106",
    "olympic-weightlifting": "\f107",
    "gym-machine": "\f108",
);

.flaticon-chin-up-bar:before {
    content: map-get($flaticon-map, "chin-up-bar");
}
.flaticon-man-exercising-back-and-legs:before {
    content: map-get($flaticon-map, "man-exercising-back-and-legs");
}
.flaticon-boxing-fighter:before {
    content: map-get($flaticon-map, "boxing-fighter");
}
.flaticon-buddhist-yoga-pose:before {
    content: map-get($flaticon-map, "buddhist-yoga-pose");
}
.flaticon-exercise:before {
    content: map-get($flaticon-map, "exercise");
}
.flaticon-weightlifting:before {
    content: map-get($flaticon-map, "weightlifting");
}
.flaticon-olympic-weightlifting:before {
    content: map-get($flaticon-map, "olympic-weightlifting");
}
.flaticon-gym-machine:before {
    content: map-get($flaticon-map, "gym-machine");
}
